version: '3.7'
services:
  frontend:
    image: JackHarding88/dfeproject2:latest
    enviroment: 
    - SQLALCHEMY_DATABASE_URI=deploy:dbiownit.mysql.database.azure.com
     
    ports:
    - published: 5000
      target: 5000
    depends_on:
      - db
      
  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: Zangetsu88
      MYSQL_DATABASE: dbiownitmysql
volumes:
  mysql-data:
